*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
/*Navigation Styles*/
nav{
	background-color:green;
	text-align:center;
	font-family: 'Cute', sans-serif;

}

nav ul{
	list-style:none;
}
nav li{
	display: inline;
}
nav a{
	display:inline-block;
	padding:20px;
	text-decoration:none;
	color:white;
}
nav a:hover{
	background-color:yellow;
	color:black;
}
/*End Navigation Styles*/
.column {
  margin-top: 50px;
  margin-bottom:150px;
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
#para{
	margin-right:100px 

}
#anime{
	margin-top: 50px;
	margin-bottom: 50px;

}
#manga{
	margin-top:50px;
	margin-bottom:50px;
}
#yusuke{
	color:white;
	text-align:center;
	margin-left:300px;
	margin-right:300px;
	margin-bottom:50px;
	margin-top:50px;
}
#kuwabara{
	color:white;
	text-align:center;
	margin-left:300px;
	margin-right:300px;
	margin-bottom:50px;
	margin-top:50px;
}
#hiei{
	color:white;
	text-align:center;
	margin-left:300px;
	margin-right:300px;
	margin-bottom:50px;
	margin-top:50px;
}
#kurama{
	color:white;
	text-align:center;
	margin-left:300px;
	margin-right:300px;
margin-bottom:50px;
	margin-top:50px;
	}
#dt{
	color:white;
	text-align:center;
	margin-left:400px;
	margin-right:400px;
	margin-bottom:50px;
	margin-top:50px;
}
#ra{
	color:white;
	text-align:center;
	margin-left:400px;
	margin-right:400px;
	margin-bottom:50px;
	margin-top:50px;
}
#sda{
	color:white;
	text-align:center;
	margin-left:400px;
	margin-right:400px;
	margin-bottom:50px;
	margin-top:50px;}
#history1{
	text-align:center;
	margin-left:300px;
	margin-right:300px;
	margin-bottom:50px;
	margin-top:50px;}
#video1{
	text-align:center;
	margin-top:70px;
	color:white;
}
#title{
	text-align:center;
	margin-top:50px;
	color:white;
}
#image2{
	text-align: center;
	margin-top:70px;
	margin-bottom:150px;
	color:white;
}
body{
	background-image:url("image6.jpg");
	background-repeat: repeat;

}
div a{
	color:black;
	text-decoration:none;
	display:inline-block;
	list-style-type:none;
}
div a:hover{
	color:white;
}
li{
	list-style-type: none;
	margin-top:20px;
}

